 {% extends 'base.html' %} 
 {% load static %}
{%  block content %}


<link rel="stylesheet" href="{% static 'css/library.css' %}">
    <div class="head">
        <nav class="navbar">
            <div class="Library">
                  
                <img src="{% static 'images/library_book.jpg' %}">

                <p>Our Library</p> 
            </div>
          <div class="HCA">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
          </div>
                
         <div class="login">
            <a href="{% url 'login_view' %}">login</a>
            <a href="{% url 'signup' %}">Sign UP</a>
         </div>      
        </nav>
    </div>
   <div class="main">
      <main class="main">
      <h1>Welcome To Our Library</h1>
         <img src="{% static 'images/image.png' %}">
      </main>
   </div> 
   <!--

   <form class="form"> 
        <label>Name</label>
        <input type="text" name="Name" id="Name" placeholder="Name">
         <label>Password</label>
        <input type="password" name="Password" id="Password" placeholder="Password">
        <button value="Login" >Login</button>
        <button value="Sign Up">Sign Up</button>
        
    </form>


   -->
      <!-- <script src="{% static 'js/signup.js' %}"></script> -->
      <script src="{% static 'js/login.js' %}"></script>
{% endblock content %}