{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Add Book{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/Add-book-styling.css' %}">
{% endblock extra_css%}

{% block nav_links %}
<li><a href="{% url 'books' %}">Books</a></li>
<li><a href="{% url 'about' %}">About</a></li>
{% endblock nav_links %}

{% block content %}

<header>
    <h1>Add New Book</h1>
</header>

<main>
    <form method="post" action="" id="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{field}}
        </div>
        {% endfor %}

        <div class="buttons">
            <button class="add" type='submit' id="add">Add Book</button>
            <button class="cancel" type="button" id="cancel" data-url="{% url 'books' %}">Cancel</button>
        </div>
    </form>

</main>
<footer>
    <p>© 2026 Online Library. All Rights Reserved. | Developed by <a href="https://ooo-dev.netlify.app/"
            style="color: blue;" target="_blank"> Omar Osama</a>
    </p>
</footer>

<script src="{% static 'pages/js/Add-book.js' %}"></script>

{% endblock content %}