<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Online Library {% endblock title %}</title>


    <link rel="stylesheet" href="{% static 'pages/css/main-styling.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}

    {% block icon %}
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'pages/images/book-logo.png' %}" />
    {% endblock icon %}

</head>

<body>


    {% block navbar %}
    <div class="navbar">
        <div class="logo">
            <a href="{% url 'library' %}"><img src="{% static 'pages/images/book-logo.png' %}" alt="logo of" />
                <span>Online Library</span>
            </a>
        </div>

        <nav>
            <ul>

                <li><a href="{% url 'library' %}">Home</a></li>
                {% block nav_links %}
                {% endblock nav_links %}
            </ul>
        </nav>
        {% endblock navbar %}

        <!-- <div class="login">
        </div> -->
    </div>

    {% block content %}

    {% endblock content %}
    <script src="{% static 'js/login.js' %}"></script>
    {% block form %}
    {% endblock form %}
</body>

</html>