{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Edit Book{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/Edit-book-styling.css' %}">
{% endblock extra_css%}

{% block nav_links %}
<li><a href="{% url 'add_book' %}">Add Book</a></li>
<li><a href="{% url 'books' %}">Books</a></li>
{% endblock nav_links %}

{% block content %}


<section class="container">
    <section class="editing">
        <header>
            <h1>Edit Book Details</h1>
        </header>

        <main>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="content-container">
                    {% for field in form %}
                    <div>
                        <label>{{field.label}}:</label>

                        {{field}}
                    </div>

                    {% endfor %}
                </div>

                <div class="buttons">
                    <button type="submit" class="save" id="save">Save Changes</button>
                    <button type="button" class="cancel" id="cancel" data-pk="{{ form.instance.pk }}">Cancel</button>

                </div>
            </form>
        </main>
    </section>

    <section class=" preview">
        {% if form.instance.image %}
        <span class="current-cover-url" data-src="{{ form.instance.image.url }}" hidden></span>
        {% endif %}

    </section>
</section>
<footer>
    <p>© 2026 Online Library. All Rights Reserved. | Developed by Omar Osama</p>
</footer>
{% block extra_js %}
<script src="{% static 'pages/js/edit-book.js'%}"></script>
{% endblock extra_js %}
{% endblock content %}