{% extends 'pages/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/library.css' %}">
{% endblock extra_css %}

{% block nav_links %}
<li><a href="{% url 'login_view' %}">Login</a></li>
<li><a href="{% url 'signup' %}">Signup</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock nav_links %}

{% block content %}

<div class="main">
    <main class="main">
        <h1>Welcome To Our Library</h1>
        <img src="{% static 'pages/images/image.png' %}">
    </main>
</div>
{% endblock content %}