{% extends 'pages/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/login.css'%}">
{% endblock extra_css %}

{% block nav_links %}
<li><a href="{% url 'login_view' %}">Login</a></li>
<li><a href="{% url 'signup' %}">Signup</a></li>
{% endblock nav_links %}

{% block form %}

<header>
    <h1>Login</h1>
</header>
<main class="content">
    <form method="POST" class="form" onsubmit="handleLogin(event)">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{field.label}}
            {{field}}
        </div>
        {% endfor %}

        {{form.errors}}
        <div class="buttons">
            <button type="submit" name="Create User" class="login-btn">login</button>
        </div>
        <p class="signup-link">
            Don't have an account? <a href="{% url 'signup' %}">Create an account</a>
        </p>
    </form>
</main>

{% endblock form%}