{% extends 'pages/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/Signup.css'%}">
{% endblock extra_css %}

{% block nav_links %}
<li><a href="{% url 'login_view' %}">Login</a></li>
<li><a href="{% url 'signup' %}">Signup</a></li>
{% endblock nav_links %}

{% block form %}
<main>

    <header>
        <h1>Sign Up</h1>
    </header>

    <form method="POST" class="form" onsubmit="handleLogin(event)">
        {% csrf_token %}
        {% for field in form %}

        <div>

            {{field.label}}
            {{field}}
        </div>
        {% endfor %}

        {{form.errors}}
        <div class="buttons">
            <button type="submit" name="Create User" class="signup">Create User</button>
        </div>
        <p class="login-link">
            Already have an account? <a href="{% url 'login_view'   %}">Login here</a>
        </p>


    </form>
</main>

{% endblock form%}


{% block logic %}
<script>
    var form_fields = document.getElementsByTagName('input');
    form_fields[0].placeholder = 'First name...';
    form_fields[1].placeholder = 'Last name...';
    form_fields[2].placeholder = 'User Data...';
    form_fields[3].placeholder = 'User Data...';
    form_fields[4].placeholder = 'User Data...';

</script>
{% endblock logic %}