.navbar nav ul {
  display: grid;
  grid-template-columns: repeat(4, 150px);
}

header {
  /* margin: 80px; */
  text-align: center;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 100px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 220px));
  gap: 25px;
}



.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  min-width: 200px;
  max-width: 250px;
  flex: 0 0 180px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.book h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #1e3a8a;
}

.book img {
  width: 180px;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.book p {
  margin-bottom: 10px;
  color: #334155;

}

button {
  background-color: white;
  color: #1e3a8a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.return-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 45px;

  margin-top: 10px;

  background-color: #2563eb;
  color: white;

  border: none;
  border-radius: 8px;

  text-decoration: none;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.25s ease;
}

.return-btn:hover {
  background-color: #1d4ed8;
  transform: translateY(-2px);
}

.return-btn:active {
  transform: translateY(1px);
}




footer {
  background-color: #1e3a8a;
  color: rgba(255, 255, 255, 0.357);
  text-align: center;
  padding: 8px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

